
	.box-wrap{
		padding:0 .3rem;
		border-bottom:.3rem solid #F1F1F1;
	}
	.order-nav{
		margin:.3rem 0;
	}
	.nav-item{
		width:3.3rem;
		height:.9rem;
		border:.02rem solid #CCCCCC;
		text-align: center;
		line-height: .9rem;
		color:#643424;
		font-size: .3rem;
		border-radius: .1rem;
	}
	.active{
		border:0;
		background: #FFD900;
	}
	.input-box{
		border:.02rem solid #CCCCCC;
		border-radius: .1rem;
		font-size:.3rem;
		color:#333333;
		height: .9rem;
		line-height: .9rem;
		padding:0 .2rem;
		margin-bottom: .3rem;
	}
	.input-box .input{
		width:80%;
	
	}
	.input-box sup{
		color:#ff5a5a;
		font-weight: 700;
	}
	.input-box input{
		display: block;
		width:100%;
		height: .8rem;
		border:0;
	}
	.input-box input:focus{
		border:0;
	}
