#success_box{
	margin: 0 auto;
}
.success_font{
	width: 70%;
	margin: 0 auto;
}
.success_table{
	width: 35%;
	margin: 30px auto 30px;
	background: #f0f0f0;
    border-radius: 5px;
}
.table_border{
	border-bottom: 1px solid #C6C6C6;
	overflow: hidden;
	width:90%;
	margin: 0px auto;
}
.success_btn{ 
	width: 30% !important;
	height: 58px;
	margin: 94px auto 26px;
	line-height: 58px;
	text-align: center;
	cursor: pointer;
	
	}
.table_border_ewm{
	height: 160px;
}
.txt_left{
	margin-left: 10px;
	float: left;
}
.txt_right{
	margin-right: 10px;
	float: right;
}
.txt_padding{
	padding-top: 30px;
	padding-bottom: 10px;
}
.table_ewm_box{
	width: 140px;
	height: 140px;
	margin: 10px auto;
}
.table_ewm_box img{
	width: 100%;
}
.txt_ewm{
	line-height: 160px;
}


