<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>租赁</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
		<!--[if lt IE 9]>
	<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<script src="js/html5shiv.js"></script>
	<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.ie8polyfill.min.js"></script>
	<![endif]-->
		<link rel="stylesheet" type="text/css" href="css/amazeui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script type="text/javascript" src="js/ydui.flexible.js"></script>
		<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
	</head>
<body>
		<div id="app">
			<div class="banner-box">
				<img v-bind:src="bannerSrc" class="img-auto" />
			</div>
			<!--list-->
			<div class="ski-group" v-for='(item,index) in skiArr' :key="index">
				<a href="skiDetail.html">
					<div class="ski-info flex">
						<div class="ski-info-left flex">
							<div class="ski-img-box">
								<img :src="item.skiSrc" class="img-auto" />
							</div>
							<div class="ski-info-mess">
								<div class="ski-name">{{item.skiName}}</div>
								<div class="ski-address">{{item.skiAdrr}}</div>
							</div>
						</div>
						<div class="ski-info-rigth">
							{{item.skiDistance}}
						</div>
					</div>
				</a>
				<div :class="item.isShowMoreOrder?'lease-list-wrap':'lease-list-wrap lease-hide'">
					<div class="lease-list flex" v-for="(item1,index1) in item.orderTypeArr" v-key="index1">
						<div class="lease-list-left">
							<div class="lease-name">{{item1.orderTitle}}</div>
							<div class="lease-price"><span class="rmb-icon">￥</span>{{item1.rmb}}<span class="lease-include" v-if='item1.orderInclude!=""'>({{item1.orderInclude}})</span></div>
						</div>
						<a href="order.html">
							<div class="lease-list-right">
								预约租金
							</div>
						</a>
					</div>
					
				</div>
				<div class="lease-list-more" v-if="item.orderTypeArr.length>2" @click="item.isShowMoreOrder=!item.isShowMoreOrder">
					{{item.isShowMoreOrder?"收起更多&and;":"查看更多 &or;"}}
					
				</div>
			</div>
			<!---->
			<div class="footer-nav-holder"></div>
			<div class="footer-nav-group flex">
				<div class="nav-list">
					<div class="nav-icon-box">
						<img src="img/footer_1.png" class="img-auto" />
					</div>
					<span>租赁</span>
				</div>
				<div class="nav-list">
					<div class="nav-icon-box">
						<img src="img/footer_2.png" class="img-auto" />
					</div>
					<span>数据</span>
				</div>
				<div class="nav-list">
					<div class="nav-icon-box">
						<img src="img/footer_3.png" class="img-auto" />
					</div>
					<span>约滑</span>
				</div>
				<div class="nav-list">
					<div class="nav-icon-box">
						<img src="img/footer_4.png" class="img-auto" />
					</div>
					<span>商城</span>
				</div>
				<a href="myOrder.html" style="color:#333"></a>
				<div class="nav-list">
					<div class="nav-icon-box">
						<img src="img/footer_5.png" class="img-auto" />
					</div>
					<span>我的</span>
				</div>
				</a>
			</div>
		</div>
	</body>
<script src="js/index.js"></script>
</html>