.img-auto {
	width: 100%;
	vertical-align: top;
}

.hide {
	display: none;
}

.flex {
	display: -webkit-box;
	/* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box;
	/* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox;
	/* 混合版本语法: IE 10 */
	display: -webkit-flex;
	/* 新版本语法: Chrome 21+ */
	display: flex;
	/* 新版本语法: Opera 12.1, Firefox 22+ */
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.flex-start {
	display: -webkit-box;
	/* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box;
	/* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox;
	/* 混合版本语法: IE 10 */
	display: -webkit-flex;
	/* 新版本语法: Chrome 21+ */
	display: flex;
	/* 新版本语法: Opera 12.1, Firefox 22+ */
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
}

.clear-fx:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	font-size: 0;
	clear: both;
}

.clear-fx {
	zoom: 1;
}


/* 租赁 list ss */

.lease-list {
	padding: .3rem 0;
	border-bottom: .02rem solid #F1F1F1;
}

.lease-name {
	font-size: .28rem;
	color: #333;
}

.lease-price {
	color: #ff3333;
	font-size: .3rem;
}

.lease-include {
	font-size: .2rem;
	color: #999999;
	padding: 0 .3rem;
}

.lease-list-right {
	width: 1.5rem;
	height: .6rem;
	border-radius: .3rem;
	background: #ffd900;
	color: #643414;
	font-size: .24rem;
	text-align: center;
	line-height: .6rem;
}


/* 租赁 list eee*/


/*订单 title ssss*/

.dy-box-wrap {
	padding: 0 .3rem;
	border-bottom: .3rem solid #F1F1F1;
}

.dy-title-box {
	height: .8rem;
	line-height: .8rem;
	font-size: .3rem;
	color: #643414;
	border-bottom: .02rem solid #F1F1F1;
}

.dy-title-box .dy-title-img-box {
	width: .3rem;
	height: .3rem;
	margin-right: .1rem;
}

.dy-title-box .dy-title-img-box .img-auto {
	vertical-align: middle;
}


/* title eeee */


/* item sssss */

.dy-item-box {
	font-size: .26rem;
	color: #333333;
	margin: .2rem 0;
}


/* item eeeee */


/* submit order 提交订单 ssss*/

.dy-order-submit-wrap {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	font-size: .3rem;
	padding: 0 0 0 .3rem;
	border-top: .02rem solid #F1F1F1;
	box-shadow: 0.05rem -0.1rem 0.1rem #f2f2f2;
}

.dy-submit-img-wrap {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	overflow: hidden;
	border: .02rem solid #f1f1f1;
	box-shadow: 0.05rem -0.1rem 0.1rem #f2f2f2;
	margin-top: -.3rem;
}

.dy-submit-img-wrap .dy-submit-img-box {
	width: 85%;
	height: 85%;
	border-radius: 50%;
	margin: 3px auto;
	background: #FFD900;
	text-align: center;
	line-height: .8rem;
}

.dy-submit-img {
	width: .34rem;
	height: .38rem;
}

.dy-order-money {
	font-size: .22rem;
	color: #333333;
}

.dy-order-money .color {
	font-size: .36rem;
}

.dy-right-submit-btn {
	width: 2.6rem;
	height: 100%;
	background: #FFD900;
	text-align: center;
}


/* submit eeee*/


/*footer 联系客服-取消订单 sss*/

.footer-btn-wrap {
	padding: .25rem .3rem;
	font-size: .3rem;
	color: #666666;
}

.footer-btn-wrap a {
	color: #666666;
}

.btn {
	width: 3.2rem;
	height: .9rem;
	border-radius: .5rem;
	border: .02rem solid;
	text-align: center;
	line-height: .9rem;
}


/*footer eeee*/


/*-取消订单model-*/

.model {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	top: 0;
	left: 0;
	z-index: 999;
}

.alert-box {
	width: 6rem;
	background: #fff;
	padding: .3rem;
	font-size: .26rem;
	color: #000000;
	margin: 30% auto;
	border-radius: .3rem;
}

.alert-box p {
	margin: 0 0 0.3rem;
}

.alert-box .btn {
	font-size: .3rem;
	color: #633418;
	width: 100%;
	background: #FFD900;
	border: 0;
	margin: .3rem 0;
}

.true-btn {
	text-align: center;
	color: #643414;
}

.true-btn span {
	text-decoration: underline;
}

.no-border {
	border: 0!important;
}

.color {
	color: #FF3333!important;
}

.color1 {
	color: #643424;
}

.rmb-icon {
	font-size: .18rem;
}


/* 提示框*/

.order-alert-wrap {
	width: 80%;
	margin: 50% auto 0;
	background: #fff;
	border-radius: .3rem;
	padding: .2rem;
	font-size: .3rem;
	text-align: center;
}

.order-alert-text {
	padding: .3rem 0;
}

.order-alert-btn .btn {
	width: 2.2rem;
	height: .7rem;
	line-height: .7rem;
}